body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-image: url(static/images/headerbg.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 703px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.navigation {
    position: absolute;
    top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    right: 40px;
}

.navigation a {
    color: black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px; 
}

.lang {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.developersmenu {
    margin-right: 10px; 
}

.arrow {
    position: absolute;
    left: 48%; 
    bottom: 25px; 
}

.download {
    background-image: url(static/images/yellowbg.png);
    background-size: cover; 
    margin: 0;
    padding-top: 80px;
    padding-bottom: 140px;
    position: relative;
}

.downloadtitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}

.laptop {
    margin-top: 60px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-left: 60px;
    padding-right: 120px;
}

.laptop-items {
    padding-top: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#laptop-image {
    padding-top: 30px;
    padding-left: 140px;
    padding-right: 100px;
}

#windows-image {
    padding-top: 10px;
}

#macos-image {
    padding-top: 45px;
}

#linux {
    padding-top: 150px;
    text-decoration: none;
}

#windows {
    padding-top: 150px;
    margin-left: -10px;
    text-decoration: none;
}

#macos {
    padding-top: 150px;
    text-decoration: none;
}

.phone {
    margin-top: 90px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-left: 210px;
    padding-right: 210px;
}

.phone-items {
    padding-top: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#phone-items-first {
    margin-left: 240px;
}

#phone-items-second {
    margin-left: -30px;
}

.phone-image {
    padding-top: 30px;
}

#android {
    padding-top: 175px;
    text-decoration: none;
}

#iphone {
    padding-top: 175px;
    text-decoration: none;
}

#android-image {
    padding-top: 10px;
}

.pulse-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: black;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}

.aboutus {
    background-image: url(static/images/blackbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}

.features {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 80px;
}

.aboutusmaintitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 45px;
}

.aboutustitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 30px;
}

.featurespart{
    margin-top: 50px;
    width: 420px;
}

.aboutustext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 20px;
    line-height: 1.5;
}

.featureicons {
    margin-top: 140px;
    padding-right: 15px;
    padding-left: 170px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.greendino {
    margin-left: -40px;
}

.developing {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 80px;
}

.developicons {
    margin-top: 140px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.developpart{
    width: 420px;
    padding-right: 150px;
    margin-top: 40px;
}

.developers {
    background-image: url(static/images/yellowbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.developerstitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}

.maindevpart {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.michael {
    padding-right: 250px;
    margin-left: -50px;
}

.names {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

.footer {
    display: flex;
    background-image: url(static/images/footerbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 0px;
    height: 125px;
}

.footerword {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 20px;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.yellowlogo {
    margin-top: 35px;
    margin-left: 30px;
}

.telegram {
    display: flex;
    margin-top: 47px;
    margin-left: 205px;
}

.github {
    display: flex;
    margin-left: 60px;
    margin-top: 47px;
}

.footermenu {
    display: flex;
    margin-left: 205px;
    margin-top: 47px;
}

#aboutusfooter {
    margin-left: 45px;
}

#developersfooter {
    margin-left: 45px;
}

#reddino {
    display: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .navigation,
  .logo {
    animation: fadeIn 2s ease forwards;
  }

.yellowlogo img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.arrow img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-button {
    animation: pulse 1.5s infinite;
}

.animate-img {
    opacity: 0;
    transition: opacity 0.5s ease;
}


@media only screen and (max-width: 900px) {
    .download {
        padding-top: 30%;
        padding-bottom: 35%;
    }

    .downloadtitle {
        font-size: 260%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .laptop {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
        display: grid;
        grid-gap: 270px;
    }

    .laptop-items {
        margin-top: -200px;
    }

    .phone {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
        display: grid;
        grid-gap: 270px;
    }

    .phone-items {
        margin-top: -200px;
        padding-top: 0px;
    }

    #laptop-image {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #windows-image {
        padding-top: 10px;
    }
    
    #macos-image {
        padding-top: 50px;
    }
    
    #linux {
        padding-top: 150px;
        text-decoration: none;
    }
    
    #windows {
        padding-top: 150px;
        text-decoration: none;
    }
    
    #macos {
        padding-top: 150px;
        text-decoration: none;
    }
    
    #phone-items-first {
        margin-left: auto;
    }
    
    #phone-items-second {
        margin-left: auto;
    }
    
    .phone-image {
        padding-top: 0px;
    }
    
    #android {
        padding-top: 175px;
        text-decoration: none;
    }
    
    #iphone {
        padding-top: 175px;
        text-decoration: none;
    }
    
    #android-image {
        padding-top: 0px;
    }

    .aboutus {
        padding-top: 25%;
        padding-bottom: 30%;
    }

    .aboutusmaintitle {
        font-size: 260%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .features {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 60px;
    }

    .greendino {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-top: 0px;
        width: 60%;
        height: 60%;
    }

    .developing {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 60px;
    }

    #reddino {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-top: 0px;
        width: 60%;
        height: 60%;
    }

    .reddino {
        display: none;
    }
    
    .featurespart {
        margin-top: 5%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .developpart {
        margin-top: 5%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-right: 0px;
    }

    .aboutustext {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffb82c;
        font-size: 110%;
        line-height: 1.5;
    }
    
    /*
    .featureicons {
        width: 5%;
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .developicons {
        width: 5%;
        height: 5%;
        margin-top: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    */

    .featureicons {
        display: none;
    }

    .developicons {
        display: none;
    }

    .aboutustitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffb82c;
        font-size: 160%;
        margin-bottom: 20px;
    }

    .developers {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .maindevpart {
        flex-direction: column;
    }

    .michael {
        padding-right: 0px;
        margin-left: 0px;
    }

    .vladik {
        margin-top: 60px;
    }

    .header {
        display: none;
    }

    .footer {
        display: none;
    }
}
