body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-image: url(static/images/headerbg.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 703px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.navigation {
    position: absolute;
    top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    right: 40px;
}

.navigation a {
    color: black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px; 
}

.lang {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.developersmenu {
    margin-right: 10px; 
}

.arrow {
    position: absolute;
    left: 48%; 
    bottom: 25px; 
}

.download {
    background-image: url(static/images/yellowbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
}

.downloadtitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-top: 60px;
}

.laptop {
    margin-top: 60px;
    margin-left: 200px;
}

.linux-image {
    position: relative;
    margin-left: 190px;
    margin-bottom: 25px;
}

.windows-image {
    margin-left: 90px;
    margin-bottom: 30px;
}

.macos-image {
    margin-left: 90px;
    margin-bottom: 75px;
}

.phone {
    margin-top: 35px;
    margin-left: 140px;
    padding-bottom: 55px;
}

.phone-image {
    margin-top: 55px;
    margin-left: 70px;
    padding-bottom: 47px;
}

.android-image {
    margin-left: 190px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.iphone-image {
    margin-left: 100px;
    margin-bottom: 50px;
}

.laptop-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: black;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 570px;
}

#linux {
    margin-top: -10px;
    margin-left: 100px;
    color: black;
    text-decoration: none;
}

#windows {
    margin-top: -10px;
    margin-left: 70px;
    color: black;
    text-decoration: none;
}

#macos {
    margin-top: -10px;
    margin-left: 70px;
    color: black;
    text-decoration: none;
}

.phone-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 562px;
    text-decoration: none;
}

#android {
    margin-top: -95px;
    margin-left: 100px;
    color: black;
    text-decoration: none;
}

#iphone {
    margin-top: -95px;
    margin-left: 95px;
    color: black;
    text-decoration: none;
}

.aboutus {
    background-image: url(static/images/blackbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 70px;
}

.features {
    display: flex;
}

.aboutusmaintitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 45px;
    padding-top: 60px;
}

.greendino {
    margin-left: 180px;
    margin-top: 80px;
}

.aboutustitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 30px;
    margin-bottom: 30px;
}

.featurespart{
    margin-top: 150px;
    margin-left: 230px;
}

.aboutustext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 20px;
    line-height: 1.5;
}

.featureicons {
    position: absolute;
    margin-top: -80px;
    margin-left: -60px;
}

#game {
    margin-top: -75px;
}

#friends {
    margin-left: -55px;
}

.developing {
    display: flex;
}

.reddino {
    margin-left: 80px;
    margin-top: 80px;
}

.developpart{
    margin-top: 130px;
    margin-left: 300px;
}

.developicons {
    position: absolute;
    margin-top: -73px;
    margin-left: -60px;
}

#crossplatform {
    margin-left: -65px;
}

.developers {
    background-image: url(static/images/yellowbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 20px;
}

.developerstitle {
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-top: 60px;
}

.images {
    margin-top: 50px;
    margin-left: 185px;
}

#vladik {
    margin-left: 220px;
}

.names {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: 250px;
    margin-top: -15px;
}

#vladikname {
    margin-left: 285px;
}

.footer {
    display: flex;
    background-image: url(static/images/footerbg.png);
    background-size: cover; 
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 0px;
    height: 125px;
}

.footerword {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffb82c;
    font-size: 20px;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.yellowlogo {
    margin-top: 35px;
    margin-left: 30px;
}

.telegram {
    display: flex;
    margin-top: 47px;
    margin-left: 205px;
}

.github {
    display: flex;
    margin-left: 60px;
    margin-top: 47px;
}

.footermenu {
    display: flex;
    margin-left: 205px;
    margin-top: 47px;
}

#aboutusfooter {
    margin-left: 45px;
}

#developersfooter {
    margin-left: 45px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .navigation,
  .logo {
    animation: fadeIn 2s ease forwards;
  }

.yellowlogo img:hover {
    transform: scale(1.2); /* Увеличивает размер логотипа на 20% */
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.arrow img:hover {
    transform: scale(1.2); /* Увеличивает размер логотипа на 20% */
    transition: transform 0.3s ease, opacity 0.3s ease;
}


@media only screen and (max-width: 480px) {
    body {
        margin: 0px;
        padding: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
    }

    /* Шапка */
    .header {
        background-image: url(static/images/headerbg.png);
        background-size: cover;
        padding-bottom: 240px; /* Уменьшаем отступ снизу */
        position: relative;
    }

    .logo {
        display: none;
    }

    .lang {
        display: none;
    }

    .navigation {
        position: absolute;
        top: 30px; /* Перемещаем навигацию выше */
        right: 45px; /* Редактируем расположение */
        font-weight: bold; 
    }

    .navigation a {
        color: black;
        text-decoration: none;
        font-size: 16px; /* Уменьшаем размер шрифта */
        margin-left: 20px; /* Уменьшаем отступ между ссылками */
        
    }

    

    /* Секция загрузки */
    .download {
        background-image: url(static/images/yellowbg.png);
        background-size: cover;
        padding-bottom: 0px;
        position: relative;
    }

    .downloadtitle {
        text-align: center;
        font-size: 30px; /* Уменьшаем размер заголовка */
        padding-top: 30px; /* Уменьшаем верхний отступ */
    }

    /* Секция устройств */
    .download {
        padding-bottom: 60px;
    }
    .laptop {
        margin-left: 100px;
    }

    .phone {
        margin-left: 40px;
        margin-top: 80px;
    }

    .laptop-text {
        margin-left: 110px; /* Увеличиваем отступ сверху */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
        color: black;
    }
    
    #linux {
        margin-left: 63px;
        margin-top: -460px;
    }

    #windows {
        margin-left: -140px;
        margin-top: -200px;
    }

    #macos {
        margin-left: -160px;
        margin-top: 20px;
    }

    .linux-image {
        margin-left: 80px;
        margin-right: auto;
        margin-bottom: 40px; /* Уменьшаем отступ снизу */
        margin-top: 60px;
    }

    .windows-image {
        margin-left: 85px;
        margin-right: auto;
        margin-bottom: 170px; /* Уменьшаем отступ снизу */
        margin-top: 90px;
    }

    .macos-image {
        margin-left: 65px;
        margin-right: auto;
        margin-bottom: 20px; /* Уменьшаем отступ снизу */
    }

    .android-image{
        margin-left: 130px;
        margin-right: auto;
        margin-bottom: 120px; /* Уменьшаем отступ снизу */
    }

    .iphone-image {
        margin-left: 130px;
        margin-right: auto;
        margin-bottom: 20px; /* Уменьшаем отступ снизу */
    }

    #android {
        margin-top: -330px;
        margin-left: -400px;
    }

    #iphone {
        margin-top: -50px;
        margin-left: -150px;
        margin-bottom: 500px;
    }

    /* Секция "О нас" */
    .aboutus {
        background-image: url(static/images/blackbg.png);
        background-size: cover;
        padding-bottom: 70px; /* Уменьшаем отступ снизу */
        position: relative;
    }

    .p
    hone-text {
        font-size: 20px; /* Уменьшаем размер текста */
        margin-top: 10px; /* Увеличиваем отступ сверху */
    }

    .aboutusmaintitle {
        font-size: 30px; /* Уменьшаем размер заголовка */
        padding-top: 50px; /* Уменьшаем верхний отступ */
        color: #ffb82c; /* Изменяем цвет текста */
    }

    .greendino {
        margin-top: 40px;
        margin-left: 60px;
        width: 330px;
        height: 380px;
    }

    .featurespart {
        margin-left: -260px;
        margin-top: 480px;
    }

    .reddino {
        margin-top: 40px;
        margin-left: -390px;
        width: 330px;
        height: 360px;
    }
    
    .developpart {
        margin-left: 120px;
        margin-top: 440px;
    }

    .aboutustitle {
        font-size: 20px; /* Уменьшаем размер заголовка */
        margin-bottom: 20px; /* Уменьшаем отступ снизу */
    }

    .aboutustext {
        font-size: 16px; /* Уменьшаем размер текста */
        line-height: 1.3; /* Увеличиваем межстрочный интервал */
    }
    /* Секция "Разработчики" */
    .developers {
        background-image: url(static/images/yellowbg.png);
        background-size: cover;
        padding-bottom: 40px; /* Уменьшаем отступ снизу */
        position: relative;
    }

    .developerstitle {
        font-size: 30px; /* Уменьшаем размер заголовка */
        padding-top: 60px; /* Уменьшаем верхний отступ */
    }

    #michael {
        margin-left: -150px;
        height: 400px;
        width: 400px;
    }

    #michaelname {
        margin-left: -110px;
        margin-top: -530px;
        font-size: 28px; /* Уменьшаем размер текста */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }

    #vladik{
        margin-left: -150px;
        margin-top: 170px;
        height: 400px;
        width: 400px;
    }

    #vladikname {
        margin-left: -250px;
        margin-top: 45px;
        font-size: 28px; /* Уменьшаем размер текста */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }

    /* Подвал */
    .footer {
        background-image: url(static/images/footerbg.png);
        background-size: cover;
        padding-bottom: 0px;
        position: relative;
        height: 200px;
    }

    .footerword {
        font-size: 16px; /* Уменьшаем размер текста */
        margin-left: 15px;
        margin-top: 5px;
        letter-spacing: 1px; /* Уменьшаем расстояние между буквами */
    }

    .yellowlogo{
        width: 10px;
        height: 10px;
    }

    .telegram{
        margin-top: 50px;
        margin-left: 105px;
    }

    .github {
        margin-top: 50px; /* Уменьшаем отступ сверху */
        margin-left: 30px; /* Увеличиваем отступ слева */
    }

    .footermenu {
        margin-top: 130px; /* Уменьшаем отступ сверху */
        margin-left: -440px; /* Увеличиваем отступ слева */
    }
}
